# Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build & Compilation Outputs
[Bb]in/
[Oo]bj/
src/bin/
src/obj/

# NuGet Packages
*.nupkg
project.lock.json
project.fragment.lock.json

# SnapFind Generated Binaries & Packages
/SnapFind.exe
/SnapFind_*.exe
/releases/

# Runtime cache (config.json, temp debug images)
/cache/


# OS specific files
.DS_Store
Thumbs.db
